---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { DATA } from "../data/data";
import Speaker from "../components/Speaker.astro";
import Sponsor from "../components/Sponsor.astro";
import AnimatedOnViewportEnter from "../components/utils/AnimatedOnViewportEnter.astro";
import type { Sponsor as ISponsor, SponsorTier } from "../data/data.type";
import TeamMember from "../components/TeamMember.astro";
import Notice from "../components/Notice.astro";
import Accordion from "../components/Accordion.astro";
import TicketSection from "../components/TicketSection.astro";
import SponsorDossier from "../components/SponsorDossier.astro";
import Carousel from "../components/Carousel.astro";
import RichText from "../components/RichText.astro";
import Schedule from "../components/Schedule.astro";
import Host from "../components/Host.astro";
import SponsorForm from "../components/integrations/preact/components/SponsorForm";

function formatDate(date: Date) {
  const formatter = new Intl.DateTimeFormat("es-ES", {
    year: "numeric",
    month: "long",
    day: "numeric",
  });
  const formattedDate = formatter.format(date);

  return formattedDate;
}

const sponsors: Record<SponsorTier, (ISponsor & { index: number })[]> = {
  platinum: [],
  gold: [],
  silver: [],
  bronze: [],
  communitySponsor: [],
  community: [],
  food: [],
  media: [],
  supporter: [],
};

for (const [index, sponsor] of Object.entries(DATA.sponsors)) {
  const sponsorsOfTier = sponsors[sponsor.tier] ?? [];
  sponsorsOfTier.push({
    ...sponsor,
    index: Number(index),
  });
}
---

<Layout title={DATA.title} description={DATA.description} lang="es">
  <header class="h-[400px] bg-green-50 dark:bg-blue-900 dark:bg-opacity-30">
    <section
      id="banner"
      class="w-full flex flex-col gap-3 align-bottom justify-end overflow-y-clip h-full p-10 md:p-20 max-w-[2000px] mx-auto"
    >
      <h1 class="text-5xl">{DATA.title}</h1>
      <AnimatedOnViewportEnter
        animation="animate__animated animate__fadeInLeft"
      >
        <h2 class="text-2xl">{DATA.venue.title}</h2>
      </AnimatedOnViewportEnter>
      <AnimatedOnViewportEnter
        animation="animate__animated animate__fadeInUp animate__delay-1s"
      >
        <span class="text-md font-bold"
          >{`${DATA.venue.city}, ${formatDate(DATA.date)}`}
        </span>
      </AnimatedOnViewportEnter>
      <div class="relative">
        <svg
          class="w-[700px] h-[700px] aspect-square absolute right-[-180px] top-[-400px] opacity-25 -rotate-[25deg] select-none"
          style="-webkit-user-drag: none;"
          width="94"
          height="95"
          viewBox="0 0 94 95"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="47.0004" cy="47.7363" r="46.9076" fill="white"></circle>
          <circle cx="47.0004" cy="47.7363" r="46.9076" fill="white"></circle>
          <path
            d="M93.9081 47.7363C93.9081 73.6426 72.9068 94.6439 47.0004 94.6439C21.094 94.6439 0.0927734 73.6426 0.0927734 47.7363C0.0927734 21.8299 21.094 0.828613 47.0004 0.828613C72.9068 0.828613 93.9081 21.8299 93.9081 47.7363Z"
            fill="#F53B16"></path>
          <circle cx="47.0004" cy="47.7363" r="46.9076" fill="white"></circle>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M45.1142 94.6066L36.5119 45.8205C35.4211 45.6228 34.3545 45.1917 33.3869 44.5142C29.8037 42.0052 28.9329 37.0665 31.4418 33.4833C33.9508 29.9001 38.8895 29.0293 42.4727 31.5383C46.0559 34.0473 46.9267 38.9859 44.4177 42.5691C43.6927 43.6046 42.7648 44.4135 41.7253 44.9799L50.4603 94.5182C49.3179 94.6014 48.1642 94.6438 47.0006 94.6438C46.3688 94.6438 45.7399 94.6313 45.1142 94.6066Z"
            fill="#F53B16"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M47.3203 94.6429L56.7951 26.1091C56.3362 25.8884 55.8936 25.6159 55.4753 25.2907C52.3019 22.8228 51.73 18.2496 54.1979 15.0762C56.6657 11.9028 61.2389 11.3308 64.4123 13.7987C67.5857 16.2666 68.1577 20.8398 65.6898 24.0132C64.6298 25.3762 63.1813 26.2594 61.6222 26.6278L52.2593 94.3525C50.6365 94.5336 48.9888 94.6318 47.3203 94.6429Z"
            fill="#FBBC05"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M45.5977 94.6235L71.1375 58.8021C68.7721 55.5408 69.3235 50.9591 72.4743 48.3606C75.7508 45.6586 80.5973 46.1242 83.2993 49.4007C86.0013 52.6771 85.5357 57.5236 82.2593 60.2257C80.2613 61.8734 77.6794 62.3431 75.3561 61.7159L52.0722 94.373C50.4061 94.5522 48.7139 94.6441 47.0002 94.6441C46.5311 94.6441 46.0635 94.6372 45.5977 94.6235Z"
            fill="#229F43"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M45.0836 94.6056L16.9531 58.0253C15.3217 58.5848 13.4875 58.5755 11.768 57.8654C8.01773 56.3166 6.23305 52.0208 7.78183 48.2705C9.33062 44.5202 13.6264 42.7355 17.3767 44.2843C21.127 45.8331 22.9117 50.1288 21.3629 53.8791C21.2017 54.2695 21.0107 54.6386 20.7937 54.9849L51.1525 94.4628C49.7845 94.5828 48.3997 94.644 47.0006 94.644C46.3585 94.644 45.7194 94.6311 45.0836 94.6056Z"
            fill="#388BFF"></path>
        </svg>
      </div>
    </section>
  </header>
  <section id="value" class="bg-light-background dark:bg-dark-background">
    <div class="wrapper text-xl px-6">
      <div class="xl:w-1/2 flex flex-col gap-5">
        <RichText text={DATA.description} />
      </div>
    </div>
  </section>
  {
    !!DATA.schedule.length && (
      <section
        id="schedule"
        class="bg-light-background dark:bg-dark-background"
      >
        <div class="wrapper-x p-6 pt-0 pb-28 md:pb-52">
          <Schedule data={DATA.schedule} />
        </div>
      </section>
    )
  }
  {
    !!DATA.hosts.length && (
      <section
        id="hosts"
        class="bg-light-background dark:bg-dark-background text-dark-background dark:text-light-background"
      >
        <div class="wrapper flex flex-col gap-10 px-6">
          <AnimatedOnViewportEnter animation="animate__animated animate__fadeInLeft">
            <h2 class="text-3xl font-bold text-center md:text-left">
              Presentadores
            </h2>
          </AnimatedOnViewportEnter>
          <div class="px-6 md:px-0 mx-auto flex flex-row flex-wrap gap-2 align-middle justify-center w-full">
            {DATA.hosts.map((host, index) => (
              <Host host={host} index={index} />
            ))}
          </div>
        </div>
      </section>
    )
  }
  {
    !!DATA.speakers.length && (
      <section
        id="speakers"
        class="bg-blue-50 dark:bg-green-800 dark:bg-opacity-30 text-dark-background dark:text-light-background"
      >
        <div class="wrapper flex flex-col gap-16 px-6">
          <AnimatedOnViewportEnter animation="animate__animated animate__fadeInLeft">
            <h2 class="text-3xl font-bold text-center md:text-left">
              Speakers
            </h2>
          </AnimatedOnViewportEnter>

          <div class="flex flex-col align-middle justify-center md:grid md:grid-cols-2 gap-8 xl:gap-16 md:auto-rows-fr md:place-content-center px-6">
            {DATA.speakers.map((speaker, index) => {
              return <Speaker speaker={speaker} index={index} />;
            })}
          </div>
        </div>
      </section>
    )
  }
  {
    !!DATA.hallOfFame.length && (
      <section
        id="hallOfFame"
        class="bg-blue-50 dark:bg-green-800 dark:bg-opacity-30 text-dark-background dark:text-light-background"
      >
        <div class="wrapper flex flex-col gap-16 px-6 ">
          <AnimatedOnViewportEnter animation="animate__animated animate__fadeInLeft">
            <h2 class="text-3xl font-bold text-center md:text-left">
              Han pasado por aquí
            </h2>
          </AnimatedOnViewportEnter>

          <ul class="flex flex-row gap-2 flex-wrap items-stretch justify-center">
            {DATA.hallOfFame.map((personality) => (
              <li class="flex-1 sm:flex-grow-0 min-w-fit bg-white dark:bg-dark-background flex flex-col gap-2 px-10 py-8 rounded-md bg-center bg-cover relative overflow-hidden select-none pointer-events-none">
                <Image
                  src={personality.picture}
                  alt={`Image of ${personality.name}`}
                  height={150}
                  width={150}
                  class="absolute top-0 left-0 w-full h-full object-cover opacity-40"
                  loading="lazy"
                />
                <span class="text-center text-black dark:text-white font-extrabold z-10 drop-shadow-md">
                  {personality.name}
                </span>
                <span class="text-center text-sm z-10">
                  {personality.edition}
                </span>
              </li>
            ))}
          </ul>
        </div>
      </section>
    )
  }
  {
    DATA.callForPapers.isEnabled && (
      <section class="bg-blue-50 dark:bg-green-800 dark:bg-opacity-30 text-dark-background dark:text-light-background py-10 grid place-items-center">
        <a
          aria-label="Call for Papers Link"
          class="animate-bounce w-fit px-3 py-2 rounded-md text-xl bg-blue-600 hover:bg-blue-500 text-white dark:bg-green-300 dark:text-black dark:hover:bg-green-200 cursor-pointer"
          href={DATA.callForPapers.url}
          target="_blank"
          data-umami-event="call_for_papers_click"
        >
          {DATA.callForPapers.title}
        </a>
      </section>
    )
  }
  {
    !!DATA.sponsors.length && (
      <section
        id="sponsors"
        class="bg-light-background dark:bg-dark-background"
      >
        <div class="wrapper flex flex-col gap-16 px-6">
          <AnimatedOnViewportEnter animation="animate__animated animate__fadeInLeft">
            <h2 class="text-3xl font-bold text-center md:text-left">
              Sponsors
            </h2>
          </AnimatedOnViewportEnter>
          {!!sponsors.platinum.length && (
            <section class="flex flex-col gap-5">
              <h3 class="text-green-400 dark:text-blue-200 text-3xl font-semibold text-center">
                Platinum
              </h3>
              <article class="flex flex-row flex-wrap gap-8 justify-center align-middle px-6">
                {sponsors.platinum.map((sponsor) => (
                  <Sponsor sponsor={sponsor} />
                ))}
              </article>
            </section>
          )}
          {!!sponsors.gold.length && (
            <section class="flex flex-col gap-5">
              <h3 class="text-green-400 dark:text-blue-200 text-3xl font-semibold text-center">
                Gold
              </h3>
              <article class="flex flex-row flex-wrap gap-8 justify-center align-middle px-6">
                {sponsors.gold.map((sponsor) => (
                  <Sponsor sponsor={sponsor} />
                ))}
              </article>
            </section>
          )}
          {!!sponsors.silver.length && (
            <section class="flex flex-col gap-5">
              <h3 class="text-green-400 dark:text-blue-200 text-3xl font-semibold text-center">
                Silver
              </h3>
              <article class="flex flex-row flex-wrap gap-8 justify-center align-middle px-6">
                {sponsors.silver.map((sponsor) => (
                  <Sponsor sponsor={sponsor} />
                ))}
              </article>
            </section>
          )}
          {!!sponsors.bronze.length && (
            <section class="flex flex-col gap-5">
              <h3 class="text-green-400 dark:text-blue-200 text-3xl font-semibold text-center">
                Bronze
              </h3>
              <article class="flex flex-row flex-wrap gap-8 justify-center align-middle px-6">
                {sponsors.bronze.map((sponsor) => (
                  <Sponsor sponsor={sponsor} />
                ))}
              </article>
            </section>
          )}
          {!!sponsors.communitySponsor.length && (
            <section class="flex flex-col gap-5">
              <h3 class="text-green-400 dark:text-blue-200 text-3xl font-semibold text-center">
                Community Sponsors
              </h3>
              <article class="flex flex-row flex-wrap gap-8 justify-center align-middle px-6">
                {sponsors.communitySponsor.map((sponsor) => (
                  <Sponsor sponsor={sponsor} />
                ))}
              </article>
            </section>
          )}
          {!!sponsors.media.length && (
            <section class="flex flex-col gap-5">
              <h3 class="text-green-400 dark:text-blue-200 text-3xl font-semibold text-center">
                Media
              </h3>
              <article class="flex flex-row flex-wrap gap-8 justify-center align-middle px-6">
                {sponsors.media.map((sponsor) => (
                  <Sponsor sponsor={sponsor} />
                ))}
              </article>
            </section>
          )}
          {!!sponsors.community.length && (
            <section class="flex flex-col gap-5">
              <h3 class="text-green-400 dark:text-blue-200 text-3xl font-semibold text-center">
                Community Partners
              </h3>
              <article class="flex flex-row flex-wrap gap-4 md:gap-8 justify-center align-middle px-6">
                {sponsors.community.map((sponsor) => (
                  <Sponsor sponsor={sponsor} />
                ))}
              </article>
            </section>
          )}
          {!!sponsors.supporter.length && (
            <section class="flex flex-col gap-5">
              <h3 class="text-green-400 dark:text-blue-200 text-3xl font-semibold text-center">
                Supporters
              </h3>
              <article class="flex flex-row flex-wrap gap-8 justify-center align-middle px-6">
                {sponsors.supporter.map((sponsor) => (
                  <Sponsor sponsor={sponsor} />
                ))}
              </article>
            </section>
          )}
          {!!sponsors.food.length && (
            <section class="flex flex-col gap-5">
              <h3 class="text-green-400 dark:text-blue-200 text-3xl font-semibold text-center">
                Fooding & Goodies Partners
              </h3>
              <article class="flex flex-row flex-wrap gap-8 justify-center align-middle px-6">
                {sponsors.food.map((sponsor) => (
                  <Sponsor sponsor={sponsor} />
                ))}
              </article>
            </section>
          )}
        </div>
      </section>
    )
  }
  {
    DATA.sponsorsDossier.enabled && (
      <section
        id="callForSponsors"
        class="p-10 flex flex-col gap-4 text-dark-background dark:text-light-background wrapper"
      >
        <h3 class="text-green-400 dark:text-green-200 text-3xl font-semibold text-center">
          Patrocina el evento
        </h3>
        <div class="flex flex-col gap-10">
          <SponsorDossier
            dossier={DATA.sponsorsDossier}
            class="mx-auto w-fit flex flex-col gap-2 items-center"
          />
          <p class="text-center text-dark-background dark:text-light-background">
            Si quieres patrocinar el evento, puedes ponerte en contacto a través
            de este formulario o mandando un correo a{" "}
            <a
              class="font-semibold text-green-400"
              href="mailto:biznagafest@gmail.com"
              data-umami-event="sponsor_email_contact"
            >
              biznagafest@gmail.com
            </a>
            .
          </p>
        </div>
        <SponsorForm className="flex flex-col gap-4" client:idle />
      </section>
    )
  }
  {
    !!DATA.tickets.length && (
      <section
        id="tickets"
        class="bg-yellow-100 dark:bg-blue-900 dark:bg-opacity-30 "
      >
        <div class="wrapper flex flex-col gap-10 px-6 mx-auto">
          <AnimatedOnViewportEnter animation="animate__animated animate__fadeInLeft">
            <h2 class="text-3xl font-bold text-center md:text-left">
              Elige tu entrada
            </h2>
          </AnimatedOnViewportEnter>
          <AnimatedOnViewportEnter animation="animate__animated animate__fadeIn">
            <div class="flex flex-col gap-5">
              <TicketSection tickets={DATA.tickets} />
            </div>
          </AnimatedOnViewportEnter>

          {DATA.tshirt && (
            <div class="flex flex-col gap-8 lg:gap-2 lg:flex-row items-center justify-between bg-yellow-200 dark:bg-green-800 dark:bg-opacity-30 rounded-lg p-8">
              <div class="flex flex-col items-center gap-2">
                {DATA.tshirt.title && (
                  <h4 class="text-xl md:text-2xl lg:text-3xl font-bold text-center">
                    {DATA.tshirt.title}
                  </h4>
                )}
                {DATA.tshirt.subtitle && (
                  <span class="text-md md:text-lg lg:text-xl text-center">
                    {DATA.tshirt.subtitle}
                  </span>
                )}
              </div>
              <div class="ml-auto rounded-md overflow-hidden max-w-sm border-green-600 dark:border-green-900 border-4 md:border-8 mx-auto lg:mx-0">
                {DATA.tshirt.type === "image" ? (
                  <img
                    class="w-full aspect-square"
                    src={DATA.tshirt.url}
                    alt={DATA.tshirt.title ?? "T-shirt"}
                    loading="lazy"
                  />
                ) : (
                  <video
                    class="w-full aspect-square"
                    src={DATA.tshirt.url}
                    autoplay
                    loop
                    muted
                  />
                )}
              </div>
            </div>
          )}

          {!!DATA.companyTicketsNotice.enabled && (
            <Notice>
              <div class="mx-auto max-w-lg rounded-md w-fit p-4 flex flex-col gap-5 px-6 bg-blue-50 dark:bg-green-800 dark:bg-opacity-30 text-dark-background dark:text-light-background [&>p]:text-md md:[&>p]:text-lg">
                <h3 class="text-xl md:text-2xl lg:text-3xl font-bold">
                  {DATA.companyTicketsNotice.title}
                </h3>
                <RichText text={DATA.companyTicketsNotice.description} />
              </div>
            </Notice>
          )}
        </div>
      </section>
    )
  }
  {
    !!DATA.faq.length && (
      <section
        id="faq"
        class="bg-light-background dark:bg-dark-background text-dark-background dark:text-light-background"
      >
        <div class="wrapper flex flex-col gap-10 px-6">
          <AnimatedOnViewportEnter animation="animate__animated animate__fadeInLeft">
            <h2 class="text-3xl font-bold text-center md:text-left">FAQ</h2>
          </AnimatedOnViewportEnter>
          <div class="block lg:grid lg:grid-cols-[4fr_3fr] px-2 md:px-0">
            <Accordion data={DATA.faq} />
          </div>
        </div>
      </section>
    )
  }
  <section id="venue" class="bg-yellow-100 dark:bg-blue-900 dark:bg-opacity-30">
    <div
      class="flex flex-col lg:grid lg:grid-cols-2 gap-6 max-w-[2000px] mx-auto"
    >
      <div
        class="flex flex-col gap-6 md:mx-auto px-6 xl:px-48 h-full pt-16 pb-28 md:pt-32 md:pb-52"
      >
        <AnimatedOnViewportEnter
          animation="animate__animated animate__fadeInLeft"
        >
          <h2 class="text-3xl font-bold text-center md:text-left">Ubicación</h2>
        </AnimatedOnViewportEnter>

        <h3 class="text-xl font-semibold">
          {DATA.venue.title}
        </h3>

        <p>Para llegar al evento puedes usar:</p>

        <ul class="flex flex-col gap-6">
          {
            DATA.venue.howToArrive?.howToArriveByBus && (
              <li>
                <AnimatedOnViewportEnter animation="animate__animated animate__fadeInLeft">
                  <span class="text-xl font-semibold">
                    <i class="text-2xl ph ph-bus" /> Autobús
                  </span>
                  <div class="ml-7 list [&>ul]:list-disc [&>ul]:list-inside">
                    <RichText text={DATA.venue.howToArrive.howToArriveByBus} />
                  </div>
                </AnimatedOnViewportEnter>
              </li>
            )
          }
          {
            DATA.venue.howToArrive?.howToArriveByBike && (
              <li>
                <AnimatedOnViewportEnter animation="animate__animated animate__fadeInUp">
                  <span class="text-xl font-semibold">
                    <i class="text-2xl ph ph-bicycle" /> Bicicleta
                  </span>
                  <div class="ml-7 list [&>ul]:list-disc [&>ul]:list-inside">
                    <RichText text={DATA.venue.howToArrive.howToArriveByBike} />
                  </div>
                </AnimatedOnViewportEnter>
              </li>
            )
          }
          {
            DATA.venue.howToArrive?.howToArriveByMetro && (
              <li>
                <AnimatedOnViewportEnter animation="animate__animated animate__fadeInRight">
                  <span class="text-xl font-semibold">
                    <i class="text-2xl ph ph-train" />
                    Metro
                  </span>
                  <div class="ml-7 list [&>ul]:list-disc [&>ul]:list-inside">
                    <RichText
                      text={DATA.venue.howToArrive.howToArriveByMetro}
                    />
                  </div>
                </AnimatedOnViewportEnter>
              </li>
            )
          }
        </ul>
      </div>
      <iframe
        title="Venue map"
        class="h-full w-full min-h-[600px]"
        src={DATA.venue.mapUrl}
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        width="100%"
        height="100%"></iframe>
    </div>
  </section>

  {
    (DATA.lastEdition?.lastEditionVideoUrl ||
      !!DATA.lastEdition?.gallery?.length) && (
      <section
        id="last"
        class="bg-light-background dark:bg-dark-background text-dark-background dark:text-light-background"
      >
        <div class="wrapper">
          <div class="pt-16 md:pt-32 flex flex-col gap-10">
            <AnimatedOnViewportEnter animation="animate__animated animate__fadeInLeft">
              <h2 class="md:mx-auto text-3xl font-bold text-center md:text-left px-6">
                Última Edición
              </h2>
            </AnimatedOnViewportEnter>
            <Carousel
              navigation={true}
              pagination={true}
              class="w-full aspect-video sm:rounded-md"
              images={DATA.lastEdition.gallery}
            />
          </div>
        </div>
        {DATA.lastEdition.lastEditionVideoUrl && (
          <div class="w-full aspect-video">
            <iframe
              title="Last Edition Video"
              class="w-full h-full"
              src={DATA.lastEdition.lastEditionVideoUrl}
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
              loading="lazy"
            />
          </div>
        )}
      </section>
    )
  }
  {
    !!DATA.team.organizers.length && (
      <section
        id="team"
        class="bg-blue-50 dark:bg-green-800 dark:bg-opacity-30 text-dark-background dark:text-light-background"
      >
        <div class="wrapper flex flex-col gap-10 px-6">
          <AnimatedOnViewportEnter animation="animate__animated animate__fadeInLeft">
            <h2 class="text-3xl font-bold text-center md:text-left">Equipo</h2>
          </AnimatedOnViewportEnter>
          <div class="px-6 md:px-0 mx-auto flex flex-row flex-wrap gap-2 align-middle justify-center w-full">
            {DATA.team.organizers.map((member, index) => (
              <TeamMember kind="organizer" member={member} index={index} />
            ))}
          </div>
        </div>
      </section>
    )
  }
  {
    !!DATA.team.staff.length && (
      <section
        id="staff"
        class="bg-light-background dark:bg-dark-background text-dark-background dark:text-light-background"
      >
        <div class="wrapper flex flex-col gap-10 px-6">
          <AnimatedOnViewportEnter animation="animate__animated animate__fadeInLeft">
            <h2 class="text-3xl font-bold text-center md:text-left">
              Voluntarios
            </h2>
          </AnimatedOnViewportEnter>
          <div class="px-6 md:px-0 mx-auto flex flex-row flex-wrap gap-2 align-middle justify-center w-full">
            {DATA.team.staff.map((member, index) => (
              <TeamMember kind="staff" member={member} index={index} />
            ))}
          </div>
        </div>
      </section>
    )
  }
</Layout>
