---
import { Image } from "astro:assets";
import type { Sponsor, SponsorTier } from "../data/data.type";

interface Props {
  sponsor: Sponsor;
}

const { sponsor } = Astro.props;

const sponsorWitdths: Record<
  SponsorTier,
  {
    initialWidth: number;
    afterLoadWidth: string;
  }
> = {
  platinum: {
    initialWidth: 550,
    afterLoadWidth: "w-[400px] md:w-[450px]",
  },
  gold: {
    initialWidth: 500,
    afterLoadWidth: "w-[350px] md:w-[400px]",
  },
  silver: {
    initialWidth: 450,
    afterLoadWidth: "w-[300px] md:w-[350px]",
  },
  bronze: {
    initialWidth: 380,
    afterLoadWidth: "w-[250px] md:w-[300px]",
  },
  communitySponsor: {
    initialWidth: 300,
    afterLoadWidth: "w-[250px] md:w-[300px]",
  },
  media: {
    initialWidth: 300,
    afterLoadWidth: "w-[200px] md:w-[250px]",
  },
  food: {
    initialWidth: 200,
    afterLoadWidth: "w-[150px] md:w-[200px]",
  },
  community: {
    initialWidth: 150,
    afterLoadWidth: "w-[100px] md:w-[150px]",
  },
  supporter: {
    initialWidth: 150,
    afterLoadWidth: "w-[100px] md:w-[150px]",
  },
};

const { initialWidth, afterLoadWidth } = sponsorWitdths[sponsor.tier];
---

<a
  aria-label={`Visit ${sponsor.name}'s website`}
  transition:name={sponsor.name}
  href={sponsor.hasFeaturedPage ? `/sponsor/${sponsor.name}#top` : sponsor.url}
  data-umami-event="sponsor_link_click"
  class="transition-all grid place-content-center hover:scale-105 duration-300 ease-in-out grayscale hover:grayscale-0"
>
  <Image
    src={sponsor.picture}
    alt={`Logo of ${sponsor.name}`}
    width={initialWidth}
    height={initialWidth / 2}
    class:list={[afterLoadWidth, ["aspect-[2/1] object-contain"]]}
  />
</a>
